@charset "UTF-8";

/*MEDEIA QUERIES
TYPICAL DEVICE BREAKPOINTS

> EXTRA SMALL (PHONE, 600PX AND DOWN): MAX-WIDTH: 600PX.
> SMALL (PORTRAIT TABLETS AND LARGE PHONES, 600PX AND UP): MIN WIDTH: 600PX.
> MEDIUM (LANDSCAPE TABLETS, 768PX AND UP): MIN-WIDTH: 768PX.
> LARGE (LAPTOPS/DASKTOPS, 992PX AND UP): MIN-WIDTH: 992PX.
> EXTRA LARGE (LARGE LAPTOPS AND DESKTOPS, 1200PX AND UP): MIN-WIDTH: 1200PX.
*/

@media screen and (min-width:600px) and (max-width:992px){
    @keyframes backgroundAnimation {
        /* ANIMATION */
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 100%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
body, html{
    background-image:linear-gradient(to bottom, var(--color005), var(--color006), var(--color006), var(--color006), var(--color005), var(--color006), var(--color006));
    animation: backgroundAnimation 5s ease infinite;
    background-size: 400% 400%;
}
h1{
    font-size: 2em;
}
p, a, .camp{
    font-size: 1em;
}
#login{
    width: 80vw;

    #image{
        background: url(../images/hub-O.jpg) center center no-repeat fixed;
        background-size: cover;
        background-position: center top;
        float: left;
        height: 100%;
        width: 40%;
    }
}

#form{
    float: right;
    width: 60%;
    height: 100%;

    h1{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 20px;
    }
    label{
        display: block;
        text-align: right;
        margin-top: 5px;
        font-size: .9em;
    }
    .boton{
        padding: 14px;
        margin: 15px 0px 15px 0px;
    }
    input[type=reset]{
        background-color:var(--color002);
        color: var(--color000);
        border: none;
        width: 49%;
        display: inline;
        padding: 15px;
        margin-right: 2%;
        border-radius: 5px;
        font-size: 1em;
    }
    input[type=submit]{
        background-color: var(--color002);
        color: var(--color000);
        border: none;
        padding: 15px;
        width: 49%;
        display: inline;
        border-radius: 5px;
        font-size: 1em;
    }
    input{
        padding: 5px;
    }
}
}

@media screen and (min-width:992px){
    @keyframes backgroundAnimation {
        /* ANIMATION */
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 100%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
    body, html{
        background-image:linear-gradient(-45deg, var(--color005), var(--color006), var(--color005), var(--color006), var(--color005), var(--color006) );
        animation: backgroundAnimation 10s ease infinite;
        background-size: 400% 400%;
    }
    h1{
        font-size: 2.2em;
    }
    p, a, .camp{
        font-size: 1.2em;
    }
    #login{
        width:900px;
        
        #image{
            background: url(../images/hub-O.jpg);
            background-size: cover;
            background-position: center center;
            float: right;
            height: 100%;
            width: 50%;
        }
    }
    
    #form{
        float: left;
        width: 50%;

        .camp{
            margin-top: 10px;
        }
        label{
            display: block;
            text-align: right;
            font-size: .9em;
        }
        .boton{
            padding: 15px;
            margin: 20px 0px 20px 0px;
        }
        input[type=reset]{
            background-color:var(--color002);
            color: var(--color000);
            border: none;
            width: 49%;
            display: inline;
            padding: 16px;
            margin-right: 2%;
            border-radius: 5px;
            font-size: 1.2em;
        }
        input[type=submit]{
            background-color: var(--color002);
            color: var(--color000);
            border: none;
            padding: 16px;
            width: 49%;
            display: inline;
            border-radius:5px ;
            font-size: 1.2em;

        }
    }
    input{
        font-size: 1em;
    }
}