@charset "UTF-8";
:root{
    /* COLORSET */
    --color000:white;
    --color0001:#7d99c7;
    --color001:#8eacdb;
    --color002:#022873;
    --color003:#021F59;
    --color004:#17204d;
    --color005:#1A2042;
    --color006:#00030D;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-image:linear-gradient(to bottom, var(--color006), var(--color005));
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0px;
}


p, a, .camp{
    font-size: .8em;
    text-align: center;
}


main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    background-color: var(--color000);
    width: 62vw;
    height: 76vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.407);

    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;

    #image{
        background: url(../images/hub-M.jpg) center center no-repeat fixed;
        background-size: cover;
        height: 32vh;
        display: block;
    }
}



#form{
    padding: 10px;
    display: block;

    .camp{
        background-color: var(--color003);
        color: var(--color000);
        border:2px solid var(--color001);
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center;
        margin-top: 5px;
        border-radius: 6px;
        /* border: none; */
        margin-left: 0px;

        input{
            background-color: var(--color001);
            font-size: 1em;
            width:calc(100% - 44px);
            transform: translateY(-10px);
            height: 100%;
            border: 0px;
            border-radius: 6px;
            padding: 4px;
        }
        input:focus-within{
            background-color: white;
            transition: .5s;
        }
        i{
            /* text-align: center; */
            /* background-color: #00030D; */
            font-size: 1.5em;
            width: 40px;
            padding: 5px;
        }
    }
    
    label{
        display: none;
    }
    .boton{
        background-color: var(--color000);
        color: var(--color001);
        border:1px solid var(--color001);
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px;
        margin: 10px 0px 10px 0px;
        border-radius: 5px;
    }
    .boton:hover{
        background-color: var(--color0001);
        transition: .5s;
    }
    input[type=reset]{
        background-color:var(--color002);
        color: var(--color000);
        border: none;
        width: 49%;
        display: inline;
        padding: 10px;
        margin-right: 2%;
        border-radius: 5px 5px 5px 15px;
            cursor: pointer;
    }
    input[type=submit]{
        background-color: var(--color002);
        color: var(--color000);
        border: none;
        padding: 10px;
        width: 49%;
        display: inline;
        border-radius: 5px 5px 15px 5px;
            cursor: pointer;
    }
    input[type=reset]:hover{
        background-color: var(--color003);
        transition: .5s;
    }
    input[type=submit]:hover{
        background-color: var(--color003);
        transition: .5s;
    }
}


